*{
   box-sizing: border-box;
}
body h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

form{
    width: 400px;
    border: 1px solid black;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
form label{
    display: block;
}
form input {
    display: block;
    width: 100%;
}